// @import '~variables.scss';


$primary-color-dark:   #4527A0;
$primary-color:        #512DA8;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFD740;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


$break-small: 380px;
$break-large: 1100px;
 